@charset "UTF-8";
.notice-text {
	font-size:25px;
	font-weight:bold;
	color:black;
	margin-left:-2px;
	
}
.content-a:hover {
	text-decoration:none;
}
.mainbody{
	/*border:1px solid red;*/
}
.row{
	margin-top:20px;
}
.content {
	width:900px;
	margin:auto;
	margin-top:100px;
	height:800px;
	/*border:1px solid red;*/
}
table{
		/*border:1px solid blue;*/
}