<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/admin/adminpagemain.css" rel="stylesheet">
</head>
<body>
  <section class="adminpagemain">
   <h1>관리자페이지</h1>
   <div class="first_line">
      <div class="div1">
            <img src="../image/마이페이지.PNG">
             <a href="../adminpage/" class="a1"><span class="text1">게시글 관리</span></a>
       </div>
       <div class="div2">
              <img src="../image/마이페이지.PNG">
              <a href="../adminpage/" class="a2"><span class="text1">댓글 관리</span></a>
       </div>
    </div> 
      
       <div class="div3">
              <img src="../image/마이페이지.PNG">
              <a href="../adminpage/" class="a3"><span class="text1">공지사항 관리</span></a>
       </div>
       <div class="div4">
              <img src="../image/마이페이지.PNG">
              <a href="./adminpage/" class="a4"><span class="text1">사용자 관리</span></a>
       </div>
   </section>
</body>
</html>