<!-- 안쓰는 파일!!!! 참고해야하니 삭제는 x -->


<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<meta charset="UTF-8">
<title>The page is a write page</title>
<!-- 자바스크립트 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="../css/admin/mainboard.css" rel="stylesheet">
<link href="../css/header.css" rel="stylesheet">
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav> 
	<div class="content">
		<h1>게시글 관리</h1>
		 <span>
    		<th:block layout:fragment="search" class="selectbox">
                <nav th:replace="board/layout/common :: search"></nav>
            </th:block>
            </span>
		<div>
            <!--  
			<select name="search" class="select">
				<option value="전체">전체</option>
				<option value="작성자">작성자</option>
				<option value="제목">제목</option>
				<option value="내용">내용</option>
			</select> <input type="text" name="search_typing" class="search_input">
			<button type="button" class="btn_search">검색</button>
			-->
			<div>
				<input type="radio" name="boardType" id="boardType" value="1" checked><span class="boardtype1">자유게시판</span>
				<input type="radio" name="boardType" id="boardType" value="2"><span class="boardtype2">공지사항</span>
			</div>
		</div>
		<div class="table-responsive clearfix">
			<form name="deleteBoardForm" id="deleteBoardForm" action="/admin/boardDelete" method="get">
				<table class="table table-hover">
					<thead>
						<tr class="tr1">
							<th>선택</th>
							<th>번호</th>
							<th>제목</th>
							<th>작성자</th>
							<th>등록일</th>
							<th>조회수</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
							<td class="col-md-1" scope="row"><input type="checkbox" name="boardNum" th:value=${row.boardNum}></td>
							<td class="col-md-1" scope="row" th:text="${row.listnum}"></td>
							<td class="col-md-6, text-left"><a class="title_link"
								th:href="@{/board/freeboard/view(boardNum=${row.boardNum}, memId=${row.memId}, boardType=${row.boardType})}"
								th:text="${row.boardTitle} + '('+ ${row.commCount} +')'"></a></td>
							<td class="col-md-2" th:text="${row.memNick}"></td>
							<td class="col-md-2" th:text="${row.boardDate}"></td>
							<!-- 첫 번째 파라미터는 '?'로 연결하고, 두 번째부터는 '&'로 연결하는데요, 타임리프는 URI 뒤에 ?대신 괄호를, & 대신 ,(콤마)를 사용 -->
							<td class="col-md-1" th:text="${row.boardHit}"></td>
						</tr>
						<tr th:unless="${not #lists.isEmpty( boardList )}">
							<td colspan="6">조회된 결과가 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="btn_wrap text-right">
					<button type="button" class="btn-delete" onclick="deleteMainboardFormCheck()">
						<a class="btn waves-effect waves-light btn-delete-a">삭제</a>
					</button>
					<button type="button" class="btn-write">
						<a th:href="@{/board/freeboard/write?boardType={boardType}(boardType=${boardList[0].boardType})}"
							class="btn waves-effect waves-light btn-write-a">글쓰기</a>
					</button>
				</div>
			</form>
		</div>
		<div class="paging">
			<th:block layout:fragment="paging">
				<nav th:replace="board/layout/common :: pagination"></nav>
			</th:block>
		</div>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				/*<![CDATA[*/

				function movePage(uri, queryString) {
					location.href = uri + queryString;
				}
				/*[- end of function -]*/

				//검색기능을 위한 ajax작성즁
				function search_board() {
					$.ajax({
						type : 'GET'
					})

				}

				/*]]>*/

				//삭제게시글 선택 여부 체크
				function deleteMainboardFormCheck() {
					if ($('input:checkbox[name="boardNum"]').is(':checked')) {
						let result = confirm("정말로 삭제하시겠습니까?");
						if (result) {
							$("#deleteBoardForm").submit();
						}
					} else {
						alert("삭제할 게시글을 선택해주세요.");
					}
				}
			</script>
		</th:block>
	</div>
</body>
</html>