<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
    <th:block  th:replace="/fragment/header2 :: main-head">
	</th:block>
	<th:block  th:replace="/fragment/footer2 :: main-foot">
</th:block>
        <meta charset="UTF-8">
        <title>The page is a write page</title>
        <link href="/css/board/write.css" rel="stylesheet">
    </head>
    <body class="write-body">
    <nav th:replace="/fragment/header2 :: main-header"></nav>
        <div class="card-content">
            <form class="form-horizontal" th:action="@{/admin/noticeboard/register}" th:object="${board}" method="post" onsubmit="return registerBoard(this)">
                <!--/* update의 경우 서버로 전달할 게시글 번호 (PK) */-->
                <input type="hidden" th:if="*{boardNum != null}" th:field="*{boardNum}" />
                <input type="hidden" th:if="*{boardType != null}" th:field="*{boardType}" />
                <input type="hidden" th:if="*{memId != null}" th:field="*{memId}" />
                <div class="form-group">
                <!--  
                    <label for="boardTitle" class="col-sm-2 control-label">제목</label>
                    -->
                    <h3>공지사항</h3>
                    <div class="col-sm-10">
                        <input type="text" th:field="*{boardTitle}" name="boardTitle" class="form-control1" placeholder="제목을 입력해 주세요." autocomplete="off" />
                    </div>
                </div>

                <div class="form-group">
                  <!--  
                    <label for="memNick" class="col-sm-2 control-label">작성자</label>
                   --> 
                    <div class="col-sm-10">
                        <input type="text" th:field="*{memNick}" class="form-control2" readonly />
                    </div>
                </div>

                <div class="form-group">
                <!--  
                    <label for="boardContent" class="col-sm-2 control-label">내용</label>
                    -->
                    <div class="col-sm-10">
                        <textarea th:field="*{boardContent}" name="boardContent" class="form-control3" placeholder="내용을 입력해 주세요." autocomplete="off"></textarea>
                    </div>
                </div>

                <div class="btn_wrap text-center btn-tot">
                    <button type="submit" class="btn waves-effect waves-light btn-insert">등 록</button>
                    <button type ="button" onclick = "history.back()" class="btn-back">취 소</button>
                </div>
            </form>
        </div>
        <nav th:replace="/fragment/footer2 :: main-footer"></nav>
        </body>
        <!-- /.card-content -->

        <script th:inline="javascript">
            /*<![CDATA[*/

            function registerBoard(form) {

                var result = (/* //function isValid(field, fieldName, focusField) */
                           isValid(form.boardTitle, "제목", null, null)
                        && isValid(form.memNick, "작성자", null, null)
                        && isValid(form.boardContent, "내용", null, null)
                );

                if ( result == false ) {
                	alert("registerBoard 실패");
                    return false;
                }
            }
            /*[- end of function -]*/

            /*]]>*/
        </script>
</html>