<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header2 :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer2 :: main-foot">
</th:block>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>The page is a write page</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<!-- 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link href="/css/admin/noticeview.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav th:replace="/fragment/header2 :: main-header"></nav> 
	<div id="main-content" class="blog-page">
		<h4 class="freeboard">공지사항</h4>
		<div class="container">
			<div class="row clearfix">
				<div class="col-lg-12 col-md-12 left-box">
					<div class="card single_post">
						<div class="body">
							<form th:object="${board}">
								<h3 th:text="*{boardTitle}" class="boardtitle"></h3>

								<div th:if="${member.memRole !=null && member.memRole=='admin'}" class="btn_wrap text-center btn_tot">

									<a th:href="@{/admin/noticeboard/write( boardNum=${board.boardNum}, boardType=${board.boardType}, memId=${board.memId} )}"
										class="btn btn-dark waves-effect waves-light btn_update">수정하기</a>
									<button  type="button" class="btn btn-dark waves-effect waves-light btn_delete"
										th:onclick="deleteBoard([[ ${board.boardNum} ]], [[ ${board.memId} ]], [[ ${board.boardType} ]])">삭제하기</button>
								</div>



								<div class="col-sm-10, text-left">
									<div class="dropdown">
									<!--  
										<button type="button" class="nickbtn btn-dark btn-nick-decl" data-bs-toggle="dropdown" aria-expanded="false">
									-->		
											<span th:text="*{memNick}"></span>
									<!-- 
										</button>
									-->
										&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span th:text="*{boardDate}"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span
											th:text="'조회수&nbsp&nbsp'+*{boardHit}"></span>
										<hr>

										<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
											<!-- Button trigger modal -->
											<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">신고하기</a></li>
										</ul>
									</div>
								</div>
								<br> <br> <br>
								<p th:text="*{boardContent}"></p>
							</form>
							<br>


							<!-- Modal -->
							<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
								aria-labelledby="staticBackdropLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											<h5 class="modal-title" id="staticBackdropLabel">
												<strong>사용자 신고</strong>
											</h5>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										</div>
										<!-- 모달 내용 -->
										<div class="modal-body px-5">
											<h6 class="mb-3">
												<strong>신고 유형을 선택해주세요.</strong>
											</h6>
											<form name="repTypeForm" id="repTypeForm" action="/board/report" method="get">
												<div class="form-check my-2">
													<input class="form-check-input" type="radio" name="repType" value="음란"> <label class="form-check-label" for="flexRadioDefault1">
														성적인 컨텐츠 </label>
												</div>
												<div class="form-check my-2">
													<input class="form-check-input" type="radio" name="repType" value="광고"> <label class="form-check-label" for="flexRadioDefault2">
														광고 컨텐츠 </label>
												</div>
												<div class="form-check my-2">
													<input class="form-check-input" type="radio" name="repType" value="욕설"> <label class="form-check-label" for="flexRadioDefault1">
														욕설 또는 폭력적인 콘텐트 </label>
												</div>
												<div class="form-check my-2">
													<input class="form-check-input" type="radio" name="repType" value="사행성"> <label class="form-check-label" for="flexRadioDefault2">
														사행성 컨텐츠 </label>
												</div>
												<div class="form-check my-2">
													<input class="form-check-input" type="radio" name="repType" value="정치글"> <label class="form-check-label" for="flexRadioDefault1">
														정치적 컨텐츠 </label>
												</div>
												<div class="form-check my-2">
													<input class="form-check-input" type="radio" name="repType" value="분란"> <label class="form-check-label" for="flexRadioDefault2">
														분란 조장 컨텐츠 </label>
												</div>
												<input type="hidden" name="boardNum" th:value="${board.boardNum}"> <input type="hidden" name="boardType"
													th:value="${board.boardType}"> <input type="hidden" name="repId" th:value="${board.memId}">
											</form>
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
											<button type="button" class="btn btn-primary" onclick="reportFormCheck()">확인</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<a th:href="@{/admin/noticelist}" class="btn btn-dark waves-effect waves-light btn_back">목 록</a>
				</div>
			</div>

		</div>
	</div>
	 <nav th:replace="/fragment/footer2 :: main-footer"></nav> 
</body>

<script th:inline="javascript">
	function deleteBoard(boardNum, memId, boardType) {

		if (confirm(boardNum + "번 게시글을 삭제할까요?")) {
			var uri = "/admin/boardDelete";
			var html = "";

			html += '<form name="dataForm" action="'+uri+'" method="get">';
			html += '<input type="hidden" name="boardNum" value="'+boardNum+'" />';
			html += '<input type="hidden" name="memId" value="'+memId+'" />';
			html += '<input type="hidden" name="boardType" value="'+boardType+'" />';
			html += '</form>';

			$("body").append(html);
			document.dataForm.submit();
		}
	}

	//신고 유효성 검사
	function reportFormCheck() {
		if ($('input:radio[name="repType"]').is(':checked')) {
			$("#repTypeForm").submit();
			// 			alert("신고유형을 선택");
		} else {
			alert("신고유형을 선택해주세요");
		}
	}
</script>


</html>