<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script th:src="@{/scripts/jquery.min.js}"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="../css/board/list.css" rel="stylesheet">
    <head>
    <th:block  th:replace="/fragment/header :: main-head">
</th:block>
        <meta charset="UTF-8">
        <title>The page is a write page</title>
        <link href="../css/header.css" rel="stylesheet">
    </head>
    <body>
    <nav th:replace="/fragment/header :: main-header"></nav>
    <div class="content">
    <a href = "./list" class="text-h1">자유 게시판</a>
              <span>
    		<th:block layout:fragment="search" class="selectbox">
                <nav th:replace="board/layout/common :: search"></nav>
            </th:block>
            </span>
        		
	        <div class="table-responsive clearfix">
	        <form name="deleteBoardForm" id="deleteBoardForm" action="/admin/boardDelete" method="get">
	            <table id = "freeboardtable" class="table table-hover">
	                <thead>
	                    <tr class="tr1">
	                    <th th:if="${member.memRole!=null && member.memRole=='admin'}" class="text-center">선택</th>
	                        <th class="text-center">번호</th>
	                        <th class="text-center">제목</th>
	                        <th class="text-center">작성자</th>
	                        <th class="text-center">등록일</th>
	                        <th class="text-center">조회수</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
	                    <td th:if="${member.memRole!=null && member.memRole=='admin'}" class="col-md-1 text-center" scope="row"><input type="checkbox" name="boardNum" th:value=${row.boardNum}></td>
	                        <td class= "col-md-1 text-center" scope="row" th:text="${row.listnum}"></td>
	                        <td th:class="${member.memRole!=null && member.memRole=='admin' ? 'col-md-5 text-left': 'col-md-6 text-left'}">>
	                            <a class="title_link" th:href="@{/board/freeboard/view(boardNum=${row.boardNum}, memId=${row.memId}, boardType=${row.boardType})}" th:text="${row.boardTitle} + '('+ ${row.commCount} +')'"></a>
	                        </td>
	                        <td class= "col-md-2 text-center" th:text="${row.memNick}"></td>
	                        <td class= "col-md-2 text-center" th:text="${row.boardDate}"></td>
	                        <!-- 첫 번째 파라미터는 '?'로 연결하고, 두 번째부터는 '&'로 연결하는데요, 타임리프는 URI 뒤에 ?대신 괄호를, & 대신 ,(콤마)를 사용 -->
	                        <td class= "col-md-1 text-center" th:text="${row.boardHit}"></td>
	                        
	                    </tr>
	                    <tr th:unless="${not #lists.isEmpty( boardList )}">
	                        <td colspan="5">조회된 결과가 없습니다.</td>
	                    </tr>
	                </tbody>
	            </table>
	            </form>
	            <div class="btn_wrap text-right">
	              <button th:if="${member.memRole !=null && member.memRole=='admin'}" type="button" class="btn-write" onclick="deleteMainboardFormCheck()">
                        <a class="btn waves-effect waves-light btn-write-a">삭제</a>
                    </button>
	                <button type="button" class="btn-write"><a th:href="@{/board/freeboard/write(boardType=1)}" class="btn waves-effect waves-light btn-write-a">글쓰기</a></button>
	            </div>
	        </div>
	        <div class="paging">
	        <th:block layout:fragment="paging">
                <nav th:replace="board/layout/common :: pagination"></nav>
            </th:block>
            </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
            
            function movePage(uri, queryString) {
                location.href = uri + queryString;
            }
            /*[- end of function -]*/
            
            function searchBoard(form) {
                /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
                    var searchKeyword = document.getElementById("searchKeyword");
                    console.log("키워드값 : "+searchKeyword.value);
                    /*
                    if (searchKeyword.value == "") {
                        alert("키워드를 입력해 주세요.");
                        searchKeyword.focus();
                        return false;
                    }
*/
                    form = document.getElementById("searchForm");
                    form.submit();
            }
            
          //삭제게시글 선택 여부 체크
            function deleteMainboardFormCheck() {
                if ($('input:checkbox[name="boardNum"]').is(':checked')) {
                    let result = confirm("정말로 삭제하시겠습니까?");
                    if (result) {
                        $("#deleteBoardForm").submit();
                    }
                } else {
                    alert("삭제할 게시글을 선택해주세요.");
                }
            }
            
            /*]]>*/
        </script>
    </th:block>
        </div>
	   </body>
	   <script>
	   $(document).ready(function(){
		    var len = $("#searchKeyword").val().length;
		    $("#searchKeyword").focus();
		    $("#searchKeyword")[0].setSelectionRange(len, len);
		});
       </script>
	   
</html>