<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script th:src="@{/scripts/jquery.min.js}"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="../css/board/list.css" rel="stylesheet">
    <head>
        <meta charset="UTF-8">
        <title>The page is a write page</title>
    </head>
    <body>
    <div class="content">
    <a href = "./list" class="text-h1">자유 게시판</a>
    
              <span>
    		<th:block layout:fragment="search">
                <nav th:replace="board/layout/common :: search"></nav>
            </th:block>
            </span>
        		
	        <div class="table-responsive clearfix">
	            <table id = "freeboardtable" class="table table-hover">
	                <thead>
	                    <tr class="tr1">
	                        <th>번호</th>
	                        <th>제목</th>
	                        <th>작성자</th>
	                        <th>등록일</th>
	                        <th>조회수</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    <tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
	                        <td class= "col-md-1" scope="row" th:text="${row.listnum}"></td>
	                        <td class="col-md-6, text-left">
	                            <a class="title_link" th:href="@{/board/freeboard/view(boardNum=${row.boardNum}, memId=${row.memId}, boardType=${row.boardType})}" th:text="${row.boardTitle} + '('+ ${row.commCount} +')'"></a>
	                        </td>
	                        <td class= "col-md-2" th:text="${row.memNick}"></td>
	                        <td class= "col-md-2" th:text="${row.boardDate}"></td>
	                        <!-- 첫 번째 파라미터는 '?'로 연결하고, 두 번째부터는 '&'로 연결하는데요, 타임리프는 URI 뒤에 ?대신 괄호를, & 대신 ,(콤마)를 사용 -->
	                        <td class= "col-md-1" th:text="${row.boardHit}"></td>
	                        
	                    </tr>
	                    <tr th:unless="${not #lists.isEmpty( boardList )}">
	                        <td colspan="5">조회된 결과가 없습니다.</td>
	                    </tr>
	                </tbody>
	            </table>
	            <div class="btn_wrap text-right">
	                <button type="button" class="btn-write"><a th:href="@{/board/freeboard/write(boardType=1)}" class="btn waves-effect waves-light btn-write-a">글쓰기</a></button>
	            </div>
	        </div>
	        <div class="paging">
	        <th:block layout:fragment="paging">
                <nav th:replace="board/layout/common :: pagination"></nav>
            </th:block>
            </div>
    <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/
            
            function movePage(uri, queryString) {
                location.href = uri + queryString;
            }
            /*[- end of function -]*/
            
            function searchBoard(form) {
                /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
                    var searchKeyword = document.getElementById("searchKeyword");
                    console.log("키워드값 : "+searchKeyword.value);
                    /*
                    if (searchKeyword.value == "") {
                        alert("키워드를 입력해 주세요.");
                        searchKeyword.focus();
                        return false;
                    }
*/
                    form = document.getElementById("searchForm");
                    form.submit();
            }
            
            /*]]>*/
        </script>
    </th:block>
        </div>
	   </body>
	   <script>
	   $(document).ready(function(){
		    var len = $("#searchKeyword").val().length;
		    $("#searchKeyword").focus();
		    $("#searchKeyword")[0].setSelectionRange(len, len);
		});
       </script>
	   
</html>