<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/board/rank.css" rel="stylesheet">
<link href="../css/header.css" rel="stylesheet">
<script th:src="@{/scripts/jquery.min.js}"></script>
</head>
<body>
<th:block layout:fragment="header">
<nav th:replace="/fragment/header":: header></nav>
</th:block>
<section class="content">
<h1>랭킹페이지</h1>
<iframe src = "/board/layout/dinorank" height = "500px" width="400px"; scrolling="no" Style = "border:none" class="dino"></iframe>
<span class="blank"></span>
<iframe src = "/board/layout/ddongrank" height = "500px" width="400px"; scrolling="no" Style = "border:none"></iframe>
</section>
</body>
</html>