<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer2 :: main-foot">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/board/rank.css" rel="stylesheet">
<script th:src="@{/scripts/jquery.min.js}"></script>
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav>
<section class="content">
<h1>랭킹페이지</h1>
<iframe src = "/board/layout/dinorank" height = "600px" width="400px"; scrolling="no" Style = "border:none" class="dino"></iframe>
<span class="blank"></span>
<iframe src = "/board/layout/ddongrank" height = "600px" width="400px"; scrolling="no" Style = "border:none"></iframe>
<iframe src = "/board/layout/fortressrank" height = "600px" width="400px"; scrolling="no" Style = "border:none" class="fortress"></iframe>
<iframe src = "/board/layout/rank2048" height = "600px" width="400px"; scrolling="no" Style = "border:none" class="2048"></iframe>
</section>
<nav th:replace="/fragment/footer2 :: main-footer"></nav>
</body>
</html>