<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script th:src="@{/scripts/jquery.min.js}"></script>
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> -->

<head>
<meta charset="UTF-8">
<title>The page is a write page</title>
</head>
<!-- 신고하기 모달 header js와 충돌나서 주석 처리함/ 0228 모달 잘 뜨나 추후 문제 생길 시 아래 주석 참고 -->
<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" -->
<!-- 	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" -->
<!-- 	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> -->
<!-- Modal End -->


<!-- CSS -->
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css"> -->

<!-- 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
<link href="/css/board/view.css" rel="stylesheet" type="text/css">

<style>
span.nick {
 display:block;
 font-weight: 900;
 padding-bottom:10px;
  
 
}

span.time{
display:block;
float:right;
padding-right:10px;
}

div.conts {
width:80%;
}
.commlist {
 border-bottom:1px solid black;
 margin-bottom:20px;
   list-style-type:none;
/*    margin:auto; */
}


.commitbutton {
display:inline_block;
float:right;
margin-top:-41px;
margin-right:-112px;
}

.conts1{
	width:95% !important;
	height:80px;
}

.commupdate{
border-bottom:1px solid black;
}
</style>
<head>
<th:block  th:replace="/fragment/header2 :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer2 :: main-foot">
</th:block>
<meta charset="UTF-8">
<title>The page is a write page</title>
</head>

<body>
<nav th:replace="/fragment/header2 :: main-header"></nav>

	<section class="content">
		<form class="form-horizontal form-view" th:object="${board}">
			<div id="main-content" class="blog-page">
				<h4 class="freeboard">자유게시판</h4>
				<div class="container">
					<div class="row clearfix">
						<div class="col-lg-12 col-md-12 left-box">
							<div class="card single_post">
								<div class="body">
									<form th:object="${board}">
										<input type="hidden" id="loginMemId" th:value="${member.memId}">
										<h3 th:text="*{boardTitle}" class="boardtitle"></h3>

										<div th:if="${member.memRole !=null && member.memId==board.memId}" class="btn_wrap text-center btn_tot">

											<a th:href="@{/board/freeboard/write( boardNum=${board.boardNum}, boardType=${board.boardType}, memId=${board.memId} )}"
												class="btn btn-dark waves-effect waves-light btn_update">수정하기</a>
											<button type="button" class="btn btn-dark waves-effect waves-light btn_delete"
												th:onclick="deleteBoard([[ ${board.boardNum} ]], [[ ${board.memId} ]], [[ ${board.boardType} ]])">삭제하기</button>
										</div>
										<div class="viewbar col-md-12 text-right">
											<span class="user-icons">
											  <i class="bi bi-emoji-smile user-icon"></i>
											</span>
											<span class="dropdown2">
												<button type="button" class="nickbtn btn-dark btn-nick-decl" data-bs-toggle="dropdown" aria-expanded="false">
													<span th:text="*{memNick}"></span>
												</button>
												&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span th:text="*{boardDate}"></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp <span
													th:text="'조회수&nbsp&nbsp'+*{boardHit}"></span>

												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
													<!-- Button trigger modal -->
													<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#staticBackdrop" href="#">신고하기</a></li>
												</ul>
											</span>
										</div>
										
										<br> <br> <br>
										<p th:text="*{boardContent}"></p>
									</form>
									<br>
<!-- 									<div class="delet_board"> -->
<!-- <!-- 									//삭제 폼 들어감 -->
<!--                                     </div> -->


									<!-- Modal -->
									<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
										aria-labelledby="staticBackdropLabel" aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<h5 class="modal-title" id="staticBackdropLabel">
														<strong>사용자 신고</strong>
													</h5>
													<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
												</div>
												<!-- 모달 내용 -->
												<div class="modal-body px-5">
													<h6 class="mb-3">
														<strong>신고 유형을 선택해주세요.</strong>
													</h6>
													<form name="repTypeForm" id="repTypeForm" action="/board/report" method="get">
														<div class="form-check my-2">
															<input class="form-check-input" type="radio" name="repType" value="음란"> <label class="form-check-label" for="flexRadioDefault1">
																성적인 컨텐츠 </label>
														</div>
														<div class="form-check my-2">
															<input class="form-check-input" type="radio" name="repType" value="광고"> <label class="form-check-label" for="flexRadioDefault2">
																광고 컨텐츠 </label>
														</div>
														<div class="form-check my-2">
															<input class="form-check-input" type="radio" name="repType" value="욕설"> <label class="form-check-label" for="flexRadioDefault1">
																욕설 또는 폭력적인 콘텐트 </label>
														</div>
														<div class="form-check my-2">
															<input class="form-check-input" type="radio" name="repType" value="사행성"> <label class="form-check-label"
																for="flexRadioDefault2"> 사행성 컨텐츠 </label>
														</div>
														<div class="form-check my-2">
															<input class="form-check-input" type="radio" name="repType" value="정치글"> <label class="form-check-label"
																for="flexRadioDefault1"> 정치적 컨텐츠 </label>
														</div>
														<div class="form-check my-2">
															<input class="form-check-input" type="radio" name="repType" value="분란"> <label class="form-check-label" for="flexRadioDefault2">
																분란 조장 컨텐츠 </label>
														</div>
														<input type="hidden" name="boardNum" th:value="${board.boardNum}"> <input type="hidden" name="boardType"
															th:value="${board.boardType}"> <input type="hidden" name="repId" th:value="${board.memId}">
													</form>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
													<button type="button" class="btn btn-primary" onclick="reportFormCheck()">확인</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="header">
									<h4 class="comment-write">댓글 작성</h4>
									
								</div>
								<div class="body">
									<div class="comment-form">
										<form class="row clearfix">
											<div class="col-sm-12">
												<div class="form-group">
													<span th:text="${member.memNick}" class="comment-nick" id="comment-nick"></span>
													
													<textarea rows="4" class="form-control no-resize view-textarea"
														th:placeholder="${member.memNick.equals('비회원')? '로그인을 해주세요' : '작성할 댓글 내용을 입력해주세요'}" id="content"></textarea>
<!-- 													 <button type="submit" class="btn btn-block btn-dark btn_insert">댓글 등록</button> -->
													<button type="button" class="btn waves-effect waves-light btn-comminsert"
														th:onclick="insertComment([[ ${board.boardNum} ]], [[ ${member.memId} ]], [[ ${member.memNick} ]])">댓글등록</button>
												</div>
												
											</div>
										</form>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="header">
									<h2 class="comment-write">댓글</h2>
								</div>
								<ul class="notice-list">
								</ul>
								
								<div>
								<nav th:replace="board/layout/common :: pagination"></nav>
								</div>
							</div>
	
					<a onclick="history.back()" class="btn btn-dark waves-effect waves-light btn_back">목 록</a>
						</div>

					</div>
					
				</div>
				
		</form>
	
	</section>
	<nav th:replace="/fragment/footer2 :: main-footer"></nav>
</body>

                


<script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>

<script th:inline="javascript">
function movePage(uri, queryString) {
	var boardNum=/*[[${board.boardNum}]]*/null;
	var memId=/*[[${board.memId}]]*/null;
	
    location.href = uri + queryString+"&boardNum="+boardNum+"&memId="+memId+"&boardType=1";
}
/*<![CDATA[*/       
        function insertComment(boardNum, loginId, loginNick) {
            var content = document.getElementById("content");
//          alert("등록"+loginId);
            
            if(loginId==null){
                alert("로그인이 필요합니다.");
                return false;
            }
            
             if (content.value == "") { 
                 alert("댓글을 입력해 주세요.");
//              content.setAttribute("placeholder", "댓글을 입력해 주세요.");
                content.focus();
                 return false; 
              } 
             
            var uri = "/comments" ;
            var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "POST"};
            var params = {"boardNum": boardNum, "commContents": content.value, "memId": loginId};

            $.ajax({
                url: uri,
                type: "POST",
                headers: headers,
                dataType: "json",
                jsonp: false,
                data: JSON.stringify(params),
                success: function(response) {
                    if (response.result == true) {
                    	
//                         document.documentElement.scrollTop = document.body.scrollHeight;
                    }else {
                        alert("댓글 등록에 실패하였습니다.");
                        return false;
                    }

                    printCommentList();
                    content.value = "";
                },
                error: function(xhr, status, error) {
                    alert("에러가 발생하였습니다.");
                    return false;
                }
            });
        }
        /*[- end of function -]*/
        
        $(function() {
        	
//         	alert(/*[[${params.recordsPerPage}+'/'+${params.pageSize}]]*/);
            printCommentList(); 
        });
        
        function printCommentList() {
            //$.get(URL주소[,콜백함수]);
            //${board.~}는 컨트롤러에서 설정한 "board"에서 받아온 값 중 ~라는 속성을 꺼내온단 의미
            //클라이언트가 서버로 요청을 보낼 주소.             
            
           var uri = /*[[ @{/comments/} + ${board.boardNum}+ '/'+${params.currentPageNo}+ '/'+${params.recordsPerPage}+ '/'+${params.pageSize}]]*/null;
            var loginMemId=document.getElementById("loginMemId").value;
//             console.log("hi");

           //$.get 좀 더 편한 ajax 처리. uri에 http get요청을 날려서 comments/{boardNum}을 요청.
           //서버에서 받아온 데이터(해당 게시글의 댓글 목록)이 response 인자에 담김.
//              console.log("컨트롤러에서 받아온 값", /*[[${board.boardNum}]]*/);
           
            $.get(uri, function(response) {
//              console.log("response : "+response.commentList[0].commNum);
                
                //댓글내용이 false값이 리턴 된다면(=response값이 null이나 empty값이 아니라면=데이터가 존재하면)
               // if (isEmpty(response) == false) {
                    //<li>태그를 제거한 것을 대신하여 새로 채워넣을 코드(=댓글 목록)의 시작
                    
                    var commentsHtml = "";
                   
                    //for:each와 같은 문법. 댓글의 개수(=게시글에 달린 comm_num의 개수가 곧 댓글의 개수)만큼 반복문 실행
                  // $.each(arr, function (index, item) { 
                      // 두 번째 매개변수로는 콜백함수인데 콜백함수의 매개변수 중 
                        // 첫 번째 매개 변수 index는 배열의 인덱스 또는 객체의 키를 의미하고 
                        // 두 번째 매개 변수 item은 해당 인덱스나 키가 가진 값을 의미합니다.
                  
                    $(response.commentList).each(function(commNum, comment) {
                        commentsHtml += `
                            <li id="${comment.commNum}" class="commlist">
                                <span class="nick" id="commNick">${comment.memNick}</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <div class="conts" id="commConts">${comment.commContents}</div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                <span class="time">${comment.commDate}</span>
                                `;
                         
                                
                             if(comment.memNick==/*[[${member.memNick}]]*/null){
// //                                   console.log(/*[[${member.memId}]]*/);
                              commentsHtml += `
                              <div class="commitbutton" id="commitbutton">
                                <button type="button" class="btn btn-xs btn-circle btn-dark" id="btnCommentsDelete" onclick="deleteComment('${comment.commNum}')">삭제</button>
                                <button type="button" class="btn btn-xs btn-circle btn-dark" id="btnCommentsUpdate" onclick="beforeupdate('${comment.commNum}', '${comment.commContents}', '${comment.memNick}')">수정</button>
                              </div>
                                `;
                                }
                               
                          commentsHtml += `</li>
                        	  `;
                    });
                      
                    $(".notice-list").html(commentsHtml);
//                     $("body").append(commentsHtml);
            }, "json")
                    
        }
    
        
      
      function deleteBoard(boardNum, memId, boardType) {

          if (confirm(boardNum + "번 게시글을 삭제할까요?")) {
              var uri = "/board/freeboard/delete";
              var html = "";

              html += '<form name="dataForm" action="'+uri+'" method="get">';
                  html += '<input type="hidden" name="boardNum" value="'+boardNum+'" />';
                  html += '<input type="hidden" name="memId" value="'+memId+'" />';
                  html += '<input type="hidden" name="boardType" value="'+boardType+'" />';
              html += '</form>';
              
              $("body").append(html);
              document.dataForm.submit();
          }
      }
            
            
    function deleteComment(commNum) {
        console.log("값 : " + commNum);
            if (!confirm('댓글을 삭제하시겠어요?')) {
            return false;
        }
            
            
        var uri = "/comments/" + commNum;
        var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "DELETE"};
        
        $.ajax({
            url: uri,
            type: "DELETE",
            headers: headers,
            dataType: "json",
            success: function(response) {
                if (response.result == false) {
                    alert("댓글 삭제에 실패하였습니다.");
                    return false;
                }
    
                printCommentList();
            },
            error: function(xhr, status, error) {
                alert("에러가 발생하였습니다.");
                return false;
            }
            });
        
      }
    /*[- end of function -]*/
            
     function div_hide() {
  document.getElementById("commitbutton").style.display = "none";
  
 }

    function beforeupdate(commNum, commContents, memNick) {
       
    let change ="";
    change += `
    <li class="commupdate">
        <span class="nick">${memNick}</span>
        <span class="inputconts" ><textarea rows="4" class="form-control no-resize view-textarea conts1"
        	 id="tex">${commContents}</textarea></span>
        <div class="btn-box">
	        <button type="button" class="btn btn-xs btn-circle btn-dark" id="btnCommentsDelete" onclick="printCommentList()" >취소<i class="fa fa-close" aria-hidden="true"></i></button>
	        <button type="button" class="btn btn-xs btn-circle btn-dark" id="btnCommentsUpdate" onclick="updateComment('${commNum}')">수정완료<i class="fa fa-close1" aria-hidden="true"></i></button>
        </div>
    </li>
    `;
    
    
    $('#'+commNum).replaceWith(change);
    $('.conts1').focus();
    };
    
    
    function updateComment(commNum) {
        
    var text = document.getElementById("tex");
    var uri = /*[[ @{/comments/} ]]*/ null + commNum;
    var headers = {"Content-Type": "application/json", "X-HTTP-Method-Override": "PATCH"};
    var params = {"commNum": commNum, "memId": /*[[${member.memId}]]*/null, "commContents": text.value};
    console.log("수정완료 버튼을 누른뒤의 값: "+text.value);
    
    $.ajax({
        url: uri,
        type: "PATCH",
        headers: headers,
        dataType: "json",
        data: JSON.stringify(params),
        success: function(response) {
            if (response.result == false) {
                alert("댓글 수정에 실패하였습니다.");
                return false;
            }

            printCommentList();
//             $("#commentModal").modal("hide");
        },
        error: function(xhr, status, error) {
            alert("에러가 발생하였습니다.");
            return false;
        }
    });
           }    
    
  //신고 유효성 검사
    function reportFormCheck() {
        if ($('input:radio[name="repType"]').is(':checked')) {
            $("#repTypeForm").submit();
            //          alert("신고유형을 선택");
        } else {
            alert("신고유형을 선택해주세요");
        }
    }
        /*]]>*/
</script>

</html>