<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.mapper.BoardMapper">

	<sql id="BoardColumns">
		board_num, board_type, board_title, board_content, mem_id,
		board_date, board_update_id, board_update_date, board_hit, board_delete

	</sql>
    
    <sql id="search">
       
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                and
                    <choose>
                        <when test="'title'.equals(searchType)">
                        <![CDATA[
                             board_title LIKE '%' || #{searchKeyword} || '%' 
                        ]]>
                        </when>
                        <when test="'content'.equals(searchType)">
                        <![CDATA[
                             board_content LIKE '%' || #{searchKeyword} || '%' 
                        ]]>
                        </when>
                        <when test="'writer'.equals(searchType)">
                        <![CDATA[
                             mem_nick LIKE '%'|| #{searchKeyword} || '%' 
                        ]]>
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>
                    <![CDATA[
                        
                           and board_title LIKE '%' || #{searchKeyword} || '%'
                            OR board_content LIKE '%' || #{searchKeyword} || '%'
                            OR mem_nick LIKE '%'|| #{searchKeyword} || '%'
                         
                        
                     ]]>
                </otherwise>
            </choose>
        </if>
        
    </sql>
    
    <sql id="reportSearch">
       
        <!-- 검색 키워드가 있을 때 -->
        <if test="searchKeyword != null and searchKeyword != ''">
            <choose>
                <!-- 검색 유형이 있을 때 -->
                <when test="searchType != null and searchType != ''">
                and
                    <choose>
                        <when test="'repoter'.equals(searchType)">
                        <![CDATA[
                             a.mem_id LIKE '%' || #{searchKeyword} || '%' 
                        ]]>
                        </when>
                        <when test="'reportUser'.equals(searchType)">
                        <![CDATA[
                             a.rep_id LIKE '%' || #{searchKeyword} || '%' 
                        ]]>
                        </when>
                        <when test="'reportType'.equals(searchType)">
                        <![CDATA[
                             a.rep_type LIKE '%'|| #{searchKeyword} || '%' 
                        ]]>
                        </when>
                    </choose>
                </when>
                <!-- 검색 유형이 없을 때 -->
                <otherwise>
                    <![CDATA[
                        
                           and a.mem_id LIKE '%' || #{searchKeyword} || '%'
                            OR a.rep_id LIKE '%' || #{searchKeyword} || '%'
                            OR a.rep_type LIKE '%'|| #{searchKeyword} || '%'
                         
                        
                     ]]>
                </otherwise>
            </choose>
        </if>
        
    </sql>
	<insert id="insertBoard" parameterType="BoardDTO">

		INSERT INTO board_table (
		<include refid="BoardColumns" />
		)VALUES
		('b_' || sequ_board_num.nextval,
		#{boardType},
		#{boardTitle},
		#{boardContent},
		#{memId},
		sysdate,
		NULL,
		NULL,
		0,
		'N')

	</insert>
	<!-- <select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int"> SELECT COUNT(*) FROM board_table WHERE board_delete = 'N' AND board_type 
		= #{boardType} </select> -->
	<select id="selectBoardTotalCount" parameterType="BoardDTO" resultType="int">
		SELECT
		COUNT(*)
		FROM
		board_table
		WHERE
		board_delete = 'N'
		AND board_type = #{boardType}
		<if test="memId !=null">
        AND mem_id=#{memId} 
        </if>
        <include refid="search" />
<!-- 		<if test='boardType!=0' > AND board_type = #{boardType}</if> //관리자페이지 게시판 관리 페이지에서 boardType을 0으로 넘겨줌(자유,공지 둘다 출력을 하기 위함)// -->
		
	</select>
	
	<select id="selectBoardList" parameterType="BoardDTO" resultType="BoardDTO"> <!-- 자유게시판은 댓글 갯수도 갖고 와야함 -->

		SELECT c.* 
		FROM
		(SELECT rownum rno, b.*
		FROM(SELECT rownum listnum, a.*
		FROM(select count(comm.board_num) as comm_count, board.board_num, board_title, board_content,
		board_date, board.mem_id, board_delete, member.mem_nick, board_type, board_hit 
		FROM 
		(select * from comment_table where comm_delete = 'N') comm RIGHT OUTER JOIN board_table board
		ON(comm.board_num = board.board_num)LEFT OUTER JOIN  member_table member
		ON(board.mem_id = member.mem_id) 
		WHERE board.board_delete = 'N' and board_type = #{boardType} <include refid="search" />
		GROUP BY 
		comm.board_num,board.board_num, board_title, board_content, board_date, board.mem_id, board_delete, member.mem_nick, board_type, board_hit
		ORDER BY board_date)a
		ORDER BY listnum DESC)b )c
		where
		<if test="memId !=null">
		 c.mem_id=#{memId} and
		</if>
		c.rno between #{startPage} and #{endPage}
		ORDER BY c.rno

	</select>




	<select id="selectBoardDetail" parameterType="BoardDTO" resultType="BoardDTO">

		select
		b.board_num, b.board_title, b.mem_id, b.board_date, a.mem_nick, b.board_type, b.board_content, b.board_update_date
		from board_table b, member_table a
		where board_delete = 'N' and a.mem_id=b.mem_id and board_num = #{boardNum}

	</select>

	<!-- 쿼리 결과에 대한 맵핑 변수명 vs 컬럼명 <resultMap type="com.sample.mapper.MemberVO" id="mapping_memberlist"> <result property="boardNum" column="board_num"/> <result 
		property="boardTitle" column="board_title"/> <result property="memId" column="mem_id"/> <result property="memNick" column="mem_nick"/> <result property="boardType" 
		column="board_type"/> <result property="boardContent" column="board_content"/> <result property="boardUpdateDate" column="board_update_date"/> <result 
		property="commNum" column="comm_num"/> <result property="commContents" column="comm_contents"/> </resultMap> -->


	<update id="updateBoard" parameterType="BoardDTO">

		UPDATE
		board_table
		SET
		board_title = #{boardTitle},
		board_content = #{boardContent},
		board_update_id = #{boardUpdateId},
		board_update_date = sysdate
		WHERE
		mem_id = #{boardUpdateId}
		AND
		board_num = #{boardNum}

	</update>

<!-- 	<update id="deleteBoard" parameterType="BoardDTO"> -->

<!-- 		UPDATE -->
<!-- 		board_table -->
<!-- 		SET -->
<!-- 		board_delete='Y' -->
<!-- 		WHERE -->
<!-- 		<if test='boardUpdateId == "admin" and boardUpdateId != memId'> 현재 로그인 계정이 관리자이면 글 작성자의 iD를 갖고 와서 넣어줌 -->
<!-- 			( -->
<!-- 		</if> -->
<!-- 		mem_id = #{boardUpdateId} 글작성자가 현재 로그인 계정이면서 BOARD_NUM이 OO인 것을 지움#{boardUpdateId} -->
<!-- 		<if test='boardUpdateId == "admin" and boardUpdateId != memId'> 현재 로그인 계정이 관리자이면 글 작성자의 iD를 갖고 와서 넣어줌 -->
<!-- 			OR mem_id = #{memId}) -->
<!-- 		</if> -->
<!-- 		AND -->
<!-- 		board_num in -->
<!-- 			<foreach collection="boardNumArr" item="item" open="(" close=")" separator=","> -->
<!-- 	            #{item} -->
<!-- 	        </foreach> -->
		
<!-- 	</update> -->
	
	<update id="deleteBoard" parameterType="BoardDTO">

        UPDATE
            board_table
        SET
	        board_delete='Y',
	        board_update_id=#{boardUpdateId},
	        board_update_date=sysdate
        WHERE
        <if test='memRole != "admin"'> <!-- 관리자가 아닐 때 로그인 게정과 글작성자 비교한 조건문 추가 -->
            mem_id = #{boardUpdateId} AND
        </if>
        board_num in
            <foreach collection="boardNumArr" item="item" open="(" close=")" separator=",">
                #{item}
            </foreach>
        
    </update>

	<update id="plusBoardHit" parameterType="BoardDTO">
		update board_table set board_hit = board_hit +1 where board_num = #{boardNum}

	</update>

	<select id="searchBoard" parameterType="BoardDTO" resultType="BoardDTO">
		select rownum rno, A.board_num, A.board_type ,A.board_title, A.board_content, A.board_hit, B.mem_id, B.mem_nick, A.board_date
		from board_table A
		left outer join member_table B on A.mem_id = B.mem_id
		where A.board_title like '%'||#{boardSearch}||'%'
		or A.board_content like '%'||#{boardSearch}||'%'
		or B.mem_nick like '%'||#{boardSearch}||'%'
		and A.board_type = #{boardType}
		order by rownum asc

	</select>
    <select id="reportTotalCount" parameterType = "ReportDTO" resultType="int">
        select count(*) from report_table
    </select>
    
	<select id="selectReportList" parameterType="BoardDTO" resultType="ReportDTO">
	SELECT a.* FROM
	(SELECT 
	rownum rno, r.rep_date, r.rep_num, r.mem_id, r.rep_id, r.rep_type, r.board_num, r.comm_num, m.mem_block
		
		FROM report_table r, member_table m
		
		WHERE r.rep_id= m.mem_id 
		order by r.rep_date desc)a
		where
		a.rno between #{startPage} and #{endPage}
        <include refid="reportSearch" />
	</select>

	<insert id="insertReport" parameterType="ReportDTO">
		INSERT INTO
			report_table (rep_num, mem_id, rep_id, rep_type,rep_date
			<if test='boardNum != null'>, board_num</if>
			<if test='commNum != null'>, comm_num</if>
			)
		VALUES
			('r_'||sequ_report_num.nextval, #{memId}, #{repId}, #{repType},sysdate
			<if test='boardNum != null'>, #{boardNum}</if>
			<if test='commNum != null'>, #{commNum}</if>
			)
	</insert>




</mapper>