<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.mapper.CommentMapper">

<sql id = "commentColumns">
  comm_num
, board_num
, mem_id
, comm_contents
, comm_update_date
, comm_update_id
, comm_delete
, comm_date

</sql>

<!-- 내 댓글 검색 -->
<select id="selectMyComment" parameterType="CommentDTO" resultType="CommentDTO">

SELECT b.* FROM (SELECT rownum rno,a.* 
FROM (
SELECT board_table.board_title, comm_contents, comm_date,board_table.board_num,board_table.board_type, comment_table.mem_id
FROM comment_table, board_table
WHERE board_table.board_num = comment_table.board_num and comment_table.mem_id = #{memId} 
ORDER BY comm_date desc)a)b where rno between #{startPage} and #{endPage}

</select>

<select id="selectMyCommentCount" parameterType="CommentDTO" resultType="int">
    
SELECT count(*) 
FROM comment_table, board_table
WHERE board_table.board_num = comment_table.board_num and comment_table.mem_id = #{memId} 
ORDER BY comm_date desc

</select>

<!--댓글 등록  -->
<insert id="insertComment" parameterType="CommentDTO">
insert into comment_table (
 <include refid="commentColumns" />
) values (
  'c_' || sequ_comment_num.nextval
  ,#{boardNum}
  ,#{memId}
  ,#{commContents} 
  ,null
  ,null
  ,'N'
  ,sysdate
)
</insert>


<!-- 특정한 댓글 보기 -->
<select id="selectCommentDetail" parameterType="CommentDTO" resultType="CommentDTO">
select 
    comm_num 
    , comm_contents
    , mem_nick
    , comm_delete 
    , comm_date
from comment_table
    , member_table 
where member_table.mem_id = comment_table.mem_id 
and comm_delete = 'N'
and comment_table.comm_num=#{commNum}

</select>



<!-- 댓글 수정 -->
<update id="updateComment" parameterType="CommentDTO">
update 
comment_table 
set 
    comm_contents = #{commContents} 
where 
    comm_num =#{commNum} 
and 
    mem_id=#{memId}

</update>


<!-- 댓글 삭제 -->
<update id="deleteComment" parameterType="CommentDTO">
update 
comment_table 
set 
    comm_delete= 'Y'
where 
    comm_num = #{commNum}
and 
    mem_id=#{memId}

</update>

<!-- 특정 게시글의 모든 댓글 목록 조회  -->
<select id="selectCommentList" parameterType="CommentDTO" resultType="CommentDTO">
select 
    comm_num
    , comm_contents
    , mem_nick
    , comm_date
from comment_table, member_table 
where 
    member_table.mem_id = comment_table.mem_id
and 
    comm_delete = 'N'
and 
    board_num = #{boardNum}    
    


</select>

<!-- 특정 게시그에 포함된 댓글 개수 조회 -->
<select id="selectCommentTotalCount" parameterType="CommentDTO" resultType="int">

select 
    count(comm_num)
from 
comment_table 
where 
    board_num = #{boardNum}
</select>







</mapper>