<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer2 :: main-foot">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/scripts/jquery.min.js}"></script>
<link href="../css/game/2048.css" rel="stylesheet">
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav>
    <section class="game">
        <table id="titleBar" border=0>
            <tr>
                <td id="titlePad">
                    <p id="title">2048</p>
                </td>
                <td id="scorePad">
                    <p id="scoreType">Score</p>
                    <p id="score"></p>
            </tr>
        </table>
        <table id="board" border=0>
            <tr>
                <td id="00"></td>
                <td id="01"></td>
                <td id="02"></td>
                <td id="03"></td>
            </tr>
            <tr>
                <td id="10"></td>
                <td id="11"></td>
                <td id="12"></td>
                <td id="13"></td>
            </tr>
            <tr>
                <td id="20"></td>
                <td id="21"></td>
                <td id="22"></td>
                <td id="23"></td>
            </tr>
            <tr>
                <td id="30"></td>
                <td id="31"></td>
                <td id="32"></td>
                <td id="33"></td>
            </tr>
        </table>
           <hr class="hr1">
        
            <div class = "canvasfield" id = "2048">
                
            </div>
        
        <hr class="hr1">
        <form id = "ScoreForm" th:action = "@{/game/ddong.do}" th:object="${game}" method="post" onsubmit="return formsubmit(this)" >
        
        <div th:if="${game} == null">
            <div class="text1">
                <span>Guest님의 점수 &emsp;&ensp;&nbsp; :</span>
                <input type = "text" id = "now_score" value = "0">
            </div>
            <div class="text2">
                <span>Guest님의 최고점수 :</span>
                <input type = "text" id = "max_score" value = "0">
            </div>
            <input type = "hidden" id = "guest" value = "true">
        </div>
         
        <div th:unless="${game} == null">
            <div class="text1">
                <span th:text = "|${game.memNick}님의 점수 &emsp;&ensp;&nbsp; :|"></span>
                <input type = "text" id = "now_score" value = "0">
            </div>
            <div class="text2">
                <span th:text = "|${game.memNick}님의 최고점수 :|"></span>
                <input type = "text" name = "rankScore" id = "max_score" th:value = ${game.rankScore}>
            </div>
            <input type = "hidden" id = "guest" value = "false">
            <input type = "hidden" name = "memId" th:value = ${game.memId}>
        </div>
        
        
        </form>
        
        <hr class="hr2">
        <div class="top">
            <h1 class="text-top">TOP5</h1>
        </div>
        
        <table class = "table">
                <thead>
                    <tr>
                        <th class="text-center" id="2048-th">랭킹</th>
                        <th class="text-center" id="2048-th">닉네임</th>
                        <th class="text-center" id="2048-th">점수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${top5}">
                        <td th:text="${row.rno}" class="text-center"></td>
                        <td th:text="${row.memNick}" class="text-center"></td>
                        <td th:text="${row.rankScore}" class="text-center"></td>
                    </tr>
                </tbody>
         </table>
         
         
     </section>
        <p id="info">2048 Copyright (c) HBKIM All rights reserved.</p>
    </body>
      <nav th:replace="/fragment/footer2 :: main-footer"></nav> 
   <script src="../js/2048.js"></script>
<script>
function openexp(){
	if($('#gameexp').css('display') == 'none'){
		$('#gameexp').show();
	}else{
		$('#gameexp').hide()
	}
}







</script>
</html>