<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer2 :: main-foot">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/scripts/jquery.min.js}"></script>
<link href="../css/game/2048.css" rel="stylesheet">
</head>
    <body>
        <table id="titleBar" border=0>
            <tr>
                <td id="titlePad">
                    <p id="title">2048</p>
                </td>
                <td id="scorePad">
                    <p id="scoreType">Score</p>
                    <p id="score"></p>
            </tr>
        </table>
        <table id="board" border=0>
            <tr>
                <td id="00"></td>
                <td id="01"></td>
                <td id="02"></td>
                <td id="03"></td>
            </tr>
            <tr>
                <td id="10"></td>
                <td id="11"></td>
                <td id="12"></td>
                <td id="13"></td>
            </tr>
            <tr>
                <td id="20"></td>
                <td id="21"></td>
                <td id="22"></td>
                <td id="23"></td>
            </tr>
            <tr>
                <td id="30"></td>
                <td id="31"></td>
                <td id="32"></td>
                <td id="33"></td>
            </tr>
        </table>
        <p id="info">2048 Copyright (c) HBKIM All rights reserved.</p>
    </body>
   <script src="../js/2048.js"></script>
<script>
function openexp(){
	if($('#gameexp').css('display') == 'none'){
		$('#gameexp').show();
	}else{
		$('#gameexp').hide()
	}
}







</script>
</html>