<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/scripts/jquery.min.js}"></script>
<link href="../css/game/dino.css" rel="stylesheet">
<link href="../css/header.css" rel="stylesheet">
</head>
<body>
<th:block layout:fragment="header">
<nav th:replace="/fragment/header":: header></nav>
</th:block>
     <section class="game">
        <div>
            <button type="button" id = "gameexp_btn" class="btn_exp" onclick="openexp()">게임설명</button>
        </div>
        <div id = "gameexp" style="display:none">게임설명이 들어가는곳</div>
        <hr class="hr1">
        <div>
            <canvas id="canvas"></canvas>
            
        </div>
        
        <form id = "ScoreForm" th:action = "@{/game/ddong.do}" method="post" onsubmit="return formsubmit(this)" >
        
        <div th:if="${member} == null">
            <div class="text1">
                <span>Guest님의 점수 &emsp;&ensp;&nbsp; :</span>
                <input type = "text" id = "now_score" value = "0">
            </div>
            <div class="text2">
                <span>Guest님의 최고점수 :</span>
                <input type = "text" id = "max_score" value = "0">
            </div>
            <input type = "hidden" id = "guest" value = "true">
        </div>
         
        <div th:unless="${member} == null">
            <div class="text1">
                <span th:text = "|${member.memId}님의 점수 &emsp;&ensp;&nbsp; :|"></span>
                <input type = "text" id = "now_score" value = "0">
            </div>
            <div class="text2">
                <span th:text = "|${member.memId}님의 최고점수 :|"></span>
                <input type = "text" name = "rankScore" id = "max_score" th:value = ${member.rankScore}>
            </div>
            <input type = "hidden" id = "guest" value = "false">
            <input type = "hidden" name = "memId" th:value = ${member.memId}>
        </div>
        
        
        </form>
        <hr class="hr2">
        <div class="top">
            <h1>TOP5</h1>
        </div>
        
        <table class = "table">
                <thead>
                    <tr>
                        <th>랭킹</th>
                        <th>닉네임</th>
                        <th>점수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${top5}">
                        <td th:text="${row.rno}"></td>
                        <td th:text="${row.memNick}"></td>
                        <td th:text="${row.rankScore}"></td>
                    </tr>
                </tbody>
         </table>
     </section>
</body>
<script src="../js/dino.js"></script>
<script>
function openexp(){
	if($('#gameexp').css('display') == 'none'){
		$('#gameexp').show();
	}else{
		$('#gameexp').hide()
	}
}


</script>

</html>