<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/scripts/jquery.min.js}"></script>
<link href="../css/game/fortress.css" rel="stylesheet">
</head>
<body>
     <section class="game">
        <div>
            <button type="button" id = "gameexp_btn" class="btn_exp" onclick="openexp()">게임설명</button>
        </div>
        <div id = "gameexp" style="display:none">게임설명이 들어가는곳</div>
        <hr class="hr1">
        <div>
            <canvas id="canvas"></canvas>
        </div>
        <hr class="hr1">
        <div class="text1">
            <span>'test11'의 점수 &emsp;&ensp;&nbsp; : </span>
            <input type = "text" id = "now_score" value = "0">
        </div>
        <div class="text2">
            <span>'test11'의 최고점수 : </span>
            <input type = "text" id = "max_score" value = 0>
        </div>
        <hr class="hr2">
        <div class="top">
            <h1>TOP5</h1>
        </div>
        
        <table class="table">
              <thead>
                <tr>
                  <th scope="col">랭킹</th>
                  <th scope="col">닉네임</th>
                  <th scope="col">점수</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>100</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>90</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Jacob</td>
                  <td>80</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Jacob</td>
                  <td>70</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                 <td>Jacob</td>
                  <td>60</td>
                </tr>
              </tbody>
        </table>
     </section>
</body>
<script src="../js/fortress.js"></script>
<script>
function openexp(){
    if($('#gameexp').css('display') == 'none'){
        $('#gameexp').show();
    }else{
        $('#gameexp').hide()
    }
}


</script>

</html>