<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>랭킹</h1>
<hr>

<form id = "ScoreForm" th:action = "@{/game/rank}" method="post" onsubmit="return " >
<h3>공룡점프게임</h3>
 <table class="table">
              <thead>
                <tr>
                  <th scope="col">랭킹</th>
                  <th scope="col">닉네임</th>
                  <th scope="col">점수</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>100</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>90</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Jacob</td>
                  <td>80</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Jacob</td>
                  <td>70</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                 <td>Jacob</td>
                  <td>60</td>
                </tr>
              </tbody>
        </table>
        
        
        
<h3>똥피하기</h3>
 <table class="table">
              <thead>
                <tr>
                  <th scope="col">랭킹</th>
                  <th scope="col">닉네임</th>
                  <th scope="col">점수</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>100</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>90</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Jacob</td>
                  <td>80</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>Jacob</td>
                  <td>70</td>
                </tr>
                <tr>
                  <th scope="row">5</th>
                 <td>Jacob</td>
                  <td>60</td>
                </tr>
              </tbody>
        </table>        
       </form>
</body>
</html>