@charset "UTF-8";

.card-content{
        	width:1000px;
        	margin:auto;
        	height:100%;
        	margin-top:100px;
        	/*border:1px solid red;*/
        	padding-left:150px;
}
.form-horizontal {
	text-align:center;
}
.control-label{
	font-size:20px;
}

.form-control1{
	border-radius:5px;
	width:600px;
	padding:6px;
	padding-left:10px;
	border:1px solid lightgray;
	font-size:12px;
	
}
.form-control2{
	border-radius:5px;
	width:600px;
	padding:6px;
	border:1px solid lightgray;
	margin-top:10px;
	padding-left:10px;
	font-size:12px;
}
.form-control3{
	border-radius:5px;
	width:600px;
	height:300px;
	padding:6px;
	border:1px solid lightgray;
	margin-top:10px;
	padding-left:10px;
	font-size:13px;
}
h3{
	font-size:25px;
	font-weight:bold;
	margin-left:-620px;
	
}
.btn-insert{
		color:white;
        background:black;
        border-radius:5px;
        padding:7px 16px;
        font-size:11px;
        border: 1px solid black;
        cursor:pointer;
        margin-left:2px;
        margin-top:15px;
        margin-bottom:15px;
}
.btn-back{
		color:white;
        background:black;
        border-radius:5px;
        padding:7px 16px;
        font-size:11px;
        border: 1px solid black;
        cursor:pointer;
        margin-left:30px;
        display:inline-block;
}
.btn-tot {
	/*border:1px solid red;*/
	width:730px;
}