@charset "UTF-8";
    section.mypagemain {
        width:640px;
        margin:auto;
        height:100%;
        margin-top:100px;
        padding-left:50px;
        /*border:1px solid red;*/
    }
    div {
        /*border:1px solid blue*/
    }
    
    span {
    font-size: 10pt;
    font-weight: bold;
    }
    
    .header-mini-a {
        font-size:10pt;
        color:white;
        font-weight:bold;
    }
    img{
        margin-right: 150px;
        /*display:block;*/
        margin-right:0px;
    }
    
    .icon_div{
        width:120px;
        height:120px;
        border-radius:10px;
/*         border:1px solid black; */
        text-align:center;
        background-color:rgb(242,251,255);
    }
     .icon_div:hover{
        border:2px solid #AFC4E7;
     }
     .icon_div:hover span{
        color:black;
     }
    
    .div1, .div2, .div3 {
        /*display:inline-block;*/
        margin:0;
        padding:0;
        margin-right:65px;  
        float:left;
        margin-bottom:30px;
    }
    .div4, .div5, .div6 {
    	 margin:0;
        padding:0;
        margin-right:65px;  
        float:left;
        margin-bottom:30px;
    }
    .first_line {
/*     	display:inline-block; */
    }
    h1{
        margin-left:170px;
        padding-bottom:20px;
        font-size:30px;
        font-weight:bold;
    }
    .bi bi-chevron-right{
        color:white;
    }
    .navbar > ul > li > a{
  color:white;
}

    
    a:visited {
    	color:black;
    }
    
    .a1 {
/*         margin-left:5px;    */
        display:block; 
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    .a2 {
        margin-left:14px;
        display:block;     
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    .a3 {
        margin-left:15px;
        display:block;     
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    .a4 {
       
        display:block;     
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    .a5 {
        margin-left:16px;
        display:block;     
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    .a6 {
        margin-left:27px;
        display:block;     
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
