@charset "UTF-8";
    section.mypagemain {
        width:575px;
        margin:auto;
        height:100%;
        margin-top:100px;
        border:1px solid red;
    }
    div {
        /*border:1px solid blue*/
    }
    span {
        font-size:10pt;
    }
    img{
        margin-right: 150px;
        /*display:block;*/
        margin-right:0px;
    }
    
    .div1, .div2, .div3 {
        /*display:inline-block;*/
        margin:0;
        padding:0;
        margin-right:65px;  
        float:left;
        margin-bottom:30px;
    }
    .div4, .div5, .div6 {
    	 margin:0;
        padding:0;
        margin-right:65px;  
        float:left;
        margin-bottom:30px;
    }
    .first_line {
    	display:inline-block;
    }
    h1{
        margin-left:170px;
        padding-bottom:20px;
        font-size:30px;
        font-weight:bold;
    }
    a {
        text-decoration:none;
        color:black;
        font-weight:bold;
    }
    
    a:visited {
    	color:black;
    }
    
    .a1 {
        margin-left:13px;   
        display:block; 
    }
    .a2 {
        margin-left:18px;
        display:block;     
    }
    .a3 {
        margin-left:20px;
        display:block;     
    }
    .a4 {
        margin-left:10px;
        display:block;     
    }
    .a5 {
        margin-left:22px;
        display:block;     
    }
    .a6 {
        margin-left:33px;
        display:block;     
    }
