@charset "UTF-8";
body {
	background: rgb(94, 94, 94);
}

section.userdelete {
	width: 280px;
	margin: auto;
	height: 800px;
	/*border: 1px solid red;*/
	margin-top: 100px;
}

.input1 {
	margin-bottom: 15px;
	border-radius: 5px;
	border: 1px solid lightgray;
	width: 250px;
	padding: 13px;
	padding-left: 15px;
	font-size: 13px;
}

.btn_drop {
	width: 283px;
	color: white;
	background: black;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 13px;
	border: 1px solid black;
	cursor: pointer;
	margin-bottom:10px;
}

.btn_kakaologin {
	width: 283px;
	color: black;
	background: rgb(255, 224, 0);
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 13px;
	font-weight: bold;
	border: 1px solid rgb(255, 224, 0);
	margin-bottom: 5px;
	cursor: pointer;
}

.s1 {
    width:100%;
	color: white;
	font-size: 13px;
	font-weight:700;
	text-align :right;
}

.agreearae{
    text-align:right;
    padding-right:10px;
}

img {
	margin-left: 95px;
}

#idmsg, #passmsg {
	font-size: 5px;
	font-weight: bold;
	margin-top: -5px;
}
