@charset "UTF-8";
	body {
        background: rgb(94,94,94);
    }
    .content {
        width:650px;
        margin:auto;
        height:100vh;
        /*border:1px solid red;*/
        margin-top:10px;
        padding-left:180px;
    }
   ul {
        list-style-type:none;
        font-size:12pt;
        /*border:1px solid blue;*/
        margin-left:30px;
        margin:0;
        padding:0;
    }
    label {
        /*background:white;*/
        display:inline-block;
        text-align:center;
        border-radius:5px;  
        margin-right:10px;
        margin-bottom:0;
        font-weight:bold;
        font-size:14px;
        color:white;
    }
    li  { 
        clear:left; 
        /*border:1px solid red;*/
        /* overflow:hidden; */
    }   

     .input1 {
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        width:280px;
        padding:13px;
        padding-left:15px;
        font-size:13px;
    }
    .tel {
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        width:280px;
        padding:13px;
        font-size:13px;
    }
    
   .hp {
        width:90px;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:9px;
        padding-left:20px;
         font-size:13px;
    }
    
    .email {
        width:137px;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:10px;
        padding-left:20px;
    }
     .email2 {
        width:130px;
        margin-bottom: 20px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:13px;
        padding-left:20px;
        font-size:13px;
    }
    h1 {
    	color:white;
    	font-size:25px;
    	font-weight:bold;
    	margin-bottom:20px;
    }
   	.btn-update {
   		color:white;
        background:black;
        border-radius:5px;
        padding:9px 51px;
        font-size:13px;
        border: 1px solid black;
        cursor:pointer;
   	}
   	.btn-back {
   		color:white;
        background:black;
        border-radius:5px;
        padding:9px 45px;
        font-size:13px;
        border: 1px solid black;
        cursor:pointer;
   	}
   	li:nth-child(8) {
   		margin-bottom:-10px;
   	}
