@charset "UTF-8";
section.userrank {
	 	width:1000px;
        height:100%;
        /*border:1px solid red;*/
        margin:auto;
        margin-top:70px;
}
.myrank {
	/*border:1px solid red;*/
	width:200px;
}
.iframe {
	/*border:1px solid blue;*/
	margin-left:300px;
	margin-top:-95px;
}
.myrankview{
	font-size:30px;
	font-weight:bold;
	/*border:1px solid red;*/
	display:inline-block;
	width:240px;
}
.navbar ul{
	margin-top:-20px;
}
ul, li {
	list-style-type:none;
	margin:0;
	padding:0;
}
.game-link {
	 cursor:pointer;
	 padding:5px;
	 font-size:20px;
	 font-weight:bold;
	 margin-top:20px;
}
iframe {
	background:#f2f2f2;
}
.link_style1:hover {
	background: #FEFECC;
}
