<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/header.css" rel="stylesheet">
<style>
</style>
</head>
<body>
<th:block layout:fragment="header">
<nav th:replace="/fragment/header":: header></nav>
</th:block>
<div class="ddong">
<h1>똥랭킹 뜨는 곳</h1>
<table class = "table">
                <thead>
                    <tr>
                        <th>랭킹</th>
                        <th>닉네임</th>
                        <th>점수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${ddong}">
                        <td th:text="${row.rank}"></td>
                        <td th:text="${row.memNick}"></td>
                        <td th:text="${row.rankScore}"></td>
                    </tr>
                </tbody>
        </table>
</div>
</body>
</html>