<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<style>
.content {
	/*border:1px solid blue;*/
	width:500px;
}
tr,td,th{
	padding:10px;
}
thead{
	background:#F0F0F0;
}
tbody {
	background:#C1F4C5;
	font-weight:bold;
}
img {
	/*border:1px solid red;*/
	height:70px;
	margin-bottom:10px;
	margin-left:135px;
}
span{
	display:inline;
	font-size:26px;
	font-weight:bold;
	margin-top:200px;
	/*border:1px solid blue;*/
}
table {
	width:400px;
}
</style>
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav> 
<section class="content">
<img src="/image/dino.PNG">
<span>공룡게임</span>
 <table class = "table">
                <thead>
                    <tr>
                        <th>랭킹</th>
                        <th>닉네임</th>
                        <th>점수</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="row : ${dino}">
                        <td th:text="${row.rank}"></td>
                        <td th:text="${row.memNick}"></td>
                        <td th:text="${row.rankScore}"></td>
                    </tr>
                </tbody>
        </table>
</section>            
</body>
</html>