<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.myrank {
	font-size:30px;
	font-weight:bold;
	padding:10px;
    box-sizing:border-box;
    font-weight:700;
}
.menulist_dino, .menulist_ddong {
	font-size:20px;
}
</style>
</head>
<body>
<div class="">
         <span class="myrank">내 랭킹보기</span>
    </div>
    <div class="">
        <nav>
        	<ul>
        		<li><a href="./userrankview" target="_parent" class="link_style1">- 공룡점프</a></li>
        		<li><a href="./ddongrank" target="_parent" class="link_style1">- 똥피하기</a></li>
        	</ul>
        </nav>
    </div>
</body>
</html>