<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
.myrank {
	font-size:30px;
	font-weight:bold;
}
.menulist_dino, .menulist_ddong {
	font-size:20px;
}
</style>
</head>
<body>
<div class="">
         <span class="myrank">내 랭킹보기</span>
    </div>
    <div class="">
        <div class="">
        	<a href="../game/dino">
            <div class="menulist_dino">- 공룡점프</div>
            </a>
        </div>
        <div class="">
        	<a href="../game/ddong">
            <div class="menulist_ddong">- 똥피하기</div>
            </a>
        </div>
    </div>
</body>
</html>