<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 자바스크립트 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
	<h2>내 게시글 보기</h2>
	<select name="type">
		<option value="title">제목</option>
		<option value="contents">내용</option>
	</select>
	<input type="text" name="memId">
	<div>
		<form name="deleteBoardForm" id="deleteBoardForm" action="/mypage/boardDelete" method="get">
			<table>
				<thead>
					<tr>
						<th>선택</th>
						<th>제목</th>
						<th>작성일자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>

					<tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
						<td><input type="checkbox" name="boardNum" th:value="${row.boardNum}"></td>
						<td><a th:href="@{/board/freeboard/view(boardNum=${row.boardNum}, memId=${row.memId}, boardType=${row.boardType})}"
							th:text="${row.boardTitle} + '('+ ${row.commCount} +')'"></a></td>
						<td th:text="${row.boardDate}"></td>
						<td th:text="${row.boardHit}"></td>
						<!-- 첫 번째 파라미터는 '?'로 연결하고, 두 번째부터는 '&'로 연결하는데요, 타임리프는 URI 뒤에 ?대신 괄호를, & 대신 ,(콤마)를 사용 -->
					</tr>
					<tr th:unless="${not #lists.isEmpty( boardList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn_mypage" onclick="deleteBoardFormCheck()">삭제</button>
			<button type="button" class="btn_delete">마이페이지</button>
		</form>

		<th:block layout:fragment="paging">
			<nav th:replace="board/layout/common :: pagination"></nav>
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				/*<![CDATA[*/

				function movePage(uri, queryString) {
					location.href = uri + queryString;
				}

				/*]]>*/
			</script>
		</th:block>
	</div>
</body>
<script>
	//삭제게시글 선택 여부 체크
	function deleteBoardFormCheck() {
		if ($('input:checkbox[name="boardNum"]').is(':checked')) {
		    $("#deleteBoardForm").submit();
// 			alert("삭제 완료");
		} else {
			alert("삭제할 게시글을 선택해주세요.");
		}
	}
</script>
</html>