<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 자바스크립트 -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link href="../css/board/list.css" rel="stylesheet">
</head>
<body>

	<h2>내 게시글 보기</h2>
	 
            <th:block layout:fragment="search">
                <nav th:replace="mypage/layout/common :: search"></nav>
            </th:block>
                
	<div>
		<form name="deleteBoardForm" id="deleteBoardForm" action="/mypage/boardDelete" method="get">
			<table>
				<thead>
					<tr>
						<th>선택</th>
						<th>제목</th>
						<th>작성일자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>

					<tr th:if="${not #lists.isEmpty( boardList )}" th:each="row : ${boardList}">
						<td><input type="checkbox" name="boardNum" th:value="${row.boardNum}"></td>
						<td><a th:href="@{/board/freeboard/view(boardNum=${row.boardNum}, memId=${row.memId}, boardType=${row.boardType})}"
							th:text="${row.boardTitle} + '('+ ${row.commCount} +')'"></a></td>
						<td th:text="${row.boardDate}"></td>
						<td th:text="${row.boardHit}"></td>
						<!-- 첫 번째 파라미터는 '?'로 연결하고, 두 번째부터는 '&'로 연결하는데요, 타임리프는 URI 뒤에 ?대신 괄호를, & 대신 ,(콤마)를 사용 -->
					</tr>
					<tr th:unless="${not #lists.isEmpty( boardList )}">
						<td colspan="5">조회된 결과가 없습니다.</td>
					</tr>
				</tbody>
			</table>
			<button type="button" class="btn_delete" onclick="deleteBoardFormCheck()">삭제</button>
			<a href = "./mypagemain">
			 <button type="button" class="btn_mypage">마이페이지</button>
			</a>
			
		</form>

		<th:block layout:fragment="paging">
			<nav th:replace="board/layout/common :: pagination"></nav>
		</th:block>
		<th:block layout:fragment="script">
			<script th:inline="javascript">
				/*<![CDATA[*/

				function movePage(uri, queryString) {
					location.href = uri + queryString;
				}
			    
				function searchBoard(form) {
	                /*[- 드롭다운이 아닌 메인 검색 키워드로 검색했을 때 -]*/
	                    var searchKeyword = document.getElementById("searchKeyword");
	                    console.log("키워드값 : "+searchKeyword.value);
	                    /*
	                    if (searchKeyword.value == "") {
	                        alert("키워드를 입력해 주세요.");
	                        searchKeyword.focus();
	                        return false;
	                    }
*/
	                    form = document.getElementById("searchForm");
	                    form.submit();
	            }
				/*]]>*/
			</script>
		</th:block>
	</div>
</body>
<script>
	//삭제게시글 선택 여부 체크
	function deleteBoardFormCheck() {
		if ($('input:checkbox[name="boardNum"]').is(':checked')) {
			let result = confirm("정말로 삭제하시겠습니까?");
	        if(result){
	        	$("#deleteBoardForm").submit();
	        }
		} else {
			alert("삭제할 게시글을 선택해주세요.");
		}
	}
	
	$(document).ready(function(){
	    var len = $("#searchKeyword").val().length;
	    $("#searchKeyword").focus();
	    $("#searchKeyword")[0].setSelectionRange(len, len);
	});
</script>
</html>