<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/mypage/userrankview.css" rel="stylesheet">
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav> 
<section class="userrank">
<div class="myrank">
         <span class="myrankview">내 랭킹보기</span>
        <nav>
        	<ul>
        		<li class="game-link"><a class="link_style1" onclick = "changeIframeUrl('./dinorank')">- 공룡게임</a></li>
        		<li class="game-link"><a class="link_style1" onclick = "changeIframeUrl('./ddongrank')">- 똥피하기</a></li>
        	</ul>
        </nav>
</div>

<div class="iframe">
    <iframe id = "gamerank"  src="./dinorank" width="700px" height="650px" Style = "border:none"></iframe>
</div>
</section>
</body>
<script>
function changeIframeUrl(url)

{

    document.getElementById("gamerank").src = url;

}
</script>
</html>