<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="main-foot">
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/footer.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="main-footer">
<footer class="footer-area">
	<hr class="footer-hr">
		<div class="footer">
		 <img src="../image/미니게임즈4.PNG" class="logos">
				<span class="footer-email">&emsp;&emsp;|&emsp;김상명 김한별 배주연 이봉철 정수연</span>
				<br>
				<span class="footer-email">&emsp;이메일 : wabse2014@gamil.com</span>
		</div>
	</footer>
</nav>
</body>
</html>