<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="main-foot">
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/footer.css" rel="stylesheet">
</head>
<body>
<nav th:fragment="main-footer">
<footer class="footer-area">
	<hr class="footer-hr">
		<div class="footer">
				<img src="../image/로고.PNG">
				<span class="footer-email">이메일 : wabse2014@gamil.com</span>
		</div>
	</footer>
</nav>
</body>
</html>