<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>header</title>
<link href="../css/header.css" rel="stylesheet">
</head>
<body>
<section id="topbar" class="d-flex align-items-center">
    <div class="container d-flex justify-content-center justify-content-md-between">
          <div class="social-links d-none d-md-flex align-items-center">
            <a href="member/login" class="twitter"><i class="join">회원가입</i></a>
            <a href="member/join" class="facebook"><i class="login">로그인</i></a>
          </div>
          </div>
        
<div class="header_logobar">
    <ul>
        <li class="header_logo"><a href="">재밌조!</a></li>
        <li class="dropdown"><a href="">미니게임</a></li>
                <ul>
                  <li><a href="../game/dino" class="dino_a">공룡게임</a></li>
                  <li><a href="../game/ddong"class="ddong_a">똥피하기</a></li>
                </ul>
        <li class="header_board2"><a href="">게시판</a></li>
        <li class="header_board3"><a href="">공지사항</a></li>
        <li class="header_board4"><a href="">랭킹</a></li>
    </ul>
    
    
</div>
</section>
</body>
</html>