@charset "UTF-8";
 body {
        background: rgb(94,94,94);
    }   
    section.id_find {
        width:420px;
        margin:auto;
        height:800px;
        margin-top:100px;
        /*border:1px solid red;*/
    }
    ul {
        list-style-type:none;
        font-size:12pt;
        /*border:1px solid blue;*/
        margin-left:30px;
        margin:0;
        padding:0;
    }
    label {
        display:inline-block;
        text-align:center;
        border-radius:5px;  
        margin-right:10px;
        margin-bottom:0;
        font-weight:bold;
        font-size:14px;
        color:white;
    }
    li  { 
        clear:left; 
        /*border:1px solid red;*/
        overflow:hidden;
    }   
    .input1, .email {
        margin-bottom: 15px;
    }
    h3 {
        color:white;
        font-size:14px;
        margin-left:-18px;
    }
    .input1 {
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        width:250px;
        padding:13px;
        padding-left:15px;
        font-size:13px;
    }
    .email {
        width:110px;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:10px;
        padding-left:15px;
    }
     .email2 {
        width:130px;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:10px;
        padding-left:20px;
        font-size:13px;
    }
    .btn_ok {
        width:282px;
        color:white;
        background:black;
        border-radius:5px;
        padding:10px 15px;
        font-size:13px;
        margin-top:20px;
        border: 1px solid black;
        cursor:pointer;
    }
    img {
    margin-left:100px;
    
   }
   #namemsg, #emailmsg {
    font-size:5px;
    font-weight:bold;
    margin-top:-5px;
   }