@charset "UTF-8";
    #newpass-body {
        background: rgb(94,94,94);
    }
    section.newpass {
        width:290px;
        margin:auto;
        height:100%;
         margin-top:10px;
        /*border:1px solid red;*/
    }
     ul {
        list-style-type:none;
        font-size:12pt;
        /*border:1px solid blue;*/
        margin-left:30px;
        margin:0;
        padding:0;
    }
    label {
        display:inline-block;
        text-align:center;
        border-radius:5px;  
        margin-right:10px;
        margin-bottom:0;
        font-weight:bold;
        font-size:14px;
        color:white;
    }
    li  { 
        clear:left; 
        /*border:1px solid red;*/
        /* overflow:hidden; */
    }   
    .input1 {
        margin-bottom: 15px;
    }
    h3 {
        color:white;
        font-size:14px;
        margin-left:25px;
    }
     .input1 {
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        width:280px;
        padding:13px;
        padding-left:15px;
        font-size:13px;
    }
    
     .btn_ok, .btn_reset{
        color:white;
        background:black;
        border-radius:5px;
        padding:9px 53px;
        font-size:13px;
        border: 1px solid black;
        margin-top:20px;
        cursor:pointer;
    }  
    img {
    margin-left:90px;
    
   }
   #passmsg, #cpassmsg {
    font-size:5px;
    font-weight:bold;
    margin-top:-5px;
   }
    .logo {
   	margin-left:52px;
   }
