@charset "UTF-8";
     body {
        background: rgb(94,94,94);
    } 
    section.pass_find {
        width:540px;
        margin:auto;
        height:800px;
        margin-top:100px;
        /*border:1px solid red;*/
    }
     ul {
        list-style-type:none;
        font-size:12pt;
        /*border:1px solid blue;*/
        margin-left:30px;
        margin:0;
        padding:0;
    }
  label {
        display:inline-block;
        text-align:center;
        border-radius:5px;  
        margin-right:10px;
        margin-bottom:0;
        font-weight:bold;
        font-size:14px;
        color:white;
    }
    li  { 
        clear:left; 
        /*border:1px solid red;*/
        overflow:hidden;
    }   
    .input1, .number {
        margin-bottom: 15px;
    }
    h3 {
        color:white;
        font-size:14px;
        margin-left:-18px;
    }
     .input1 {
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        width:250px;
        padding:13px;
        padding-left:15px;
        font-size:13px;
    }
    .email {
        width:105px;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:10px;
        padding-left:20px;
    }
    .code {
        width:280px;
        text-align:left;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:11px;
        padding-left:15px;
        box-sizing:border-box;
        font-size:13px;
        margin-top:-13px;
    }
     .email2 {
        width:130px;
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        padding:10px;
        padding-left:20px;
        font-size:13px;
    }
      .btn_check {
        color:white;
        background:black;
        border-radius:5px;
        padding:9px 10px;
        font-size:13px;
        border: 1px solid black;
        cursor:pointer;
    }
      .btn_ok {
        width:283px;
        color:white;
        background:black;
        border-radius:5px;
        padding:10px 15px;
        font-size:13px;
        margin-top:20px;
        border: 1px solid black;
        cursor:pointer;
    }
    img {
    margin-left:80px;
    
   }
   .number {
        margin-bottom: 15px;
        border-radius:5px;
        border:1px solid lightgray;
        width:252px;
        padding:13px;
        padding-left:15px;
        font-size:14px;
    }
    #idmsg, #emailmsg {
    font-size:5px;
    font-weight:bold;
    margin-top:-5px;
   }
