@charset "UTF-8";
     section.game {
        width:1000px;
        margin:auto;
        height:1500px;
        /*border:1px solid red;*/
        margin-top:100px;
    }
#header .logo a {
  color: white;
  margin-right:600px;
  margin-left:-80px;
}
.navbar{
    margin-left:150px;
    margin-right:-81px;
    margin-top:20px;
}
.navbar a i{
    margin-top:-1px;
}
.d-none{
    margin-right:4.7px;
}
    .btn_exp {
        width:180px;
        color:white;
        background:black;
        border-radius:5px;
        padding:8px 15px;
        font-size:13px;
        margin-top:20px;
        border: 1px solid black;
    }

    .text1 {
        margin-top:50px;
        margin-left:30px;
    }
    .text2 {
        margin-top:10px;
        margin-left:30px;
    }
    input {
        border:1px solid lightgray;
        border-radius:5px;
        padding: 3px 10px;
    }
    .top {
        margin-top:70px;
    }
    .hr1 {
       border-top: 2px solid lightgray;
    }
    .hr2 {
       margin-top:20px;
       border-top: 7px solid black;
       
    }
    .text-top {
        margin-left:455px;
        margin-bottom:20px;
        font-weight:bold;
    }
    #dino-th {
        background:#FEFECC;
    }

#canvas{
/* 	background:black; */
	outline:1px solid white;
}
.gamearea{
	margin-top:-430px;
}

td{
    border: 2px solid #372c25;
/*     border-radius: 9px; */
    text-align: center;
    vertical-align: center;
    font-size: 18pt;
    font-weight: bold;
    height: 70px;
    width: 70px;
    color: #684A23;
    background-color: #FBEDDC;
}
p{
    color: white;
    vertical-align: top;
}
/* body{ */
/*     background-color: #372C25; */
/* } */
#title{
    color: white;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}
#titleBar{
    margin:auto;
    margin-top: 35px;
    margin-bottom: 10px;
    height: 70px;
}
#titlePad{
    width: 148px;
    height: 35px;
    background-color: #372C25;
/*     margin: 0px; */
    margin-left: 100px;
}
#scorePad{
    width: 148px;
    height: 35px;
    background-color: #46382E;
/*     padding: 0px; */
/* margin:auto; */
}
#scoreType{
    font-size: 14pt;
    margin: 0px;
/* margin:auto; */
    color: #715541;
}
#score{
    font-size: 28pt;
    margin: 0px;
/*     margin:auto; */
    color: white;
}
#board{
/*     margin-left: 70px; */
/*      margin-top: 5px; */
margin:auto;
    width:298px;
}

#info{
    margin-top: 3px;
    margin-left: 82px;
    font-size: 10pt;
    color: white;
}
