<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
    section.mypage {
        width:460px;
        margin:auto;
        height:1000px;
        margin-top:100px;
        border:1px solid red;
    }
    span {
        font-size:10pt;
    }
    img{
        margin-right: 30px;
    }
    .div1, .div2, .div3, .div4, .div5, .div6 {
        display:inline-block;   
    }
</style>
</head>
<body>
    <section class="mypage">
    <h1>관리자 페이지</h1>
    <div>
    <div class="div1">
       <img src="../image/마이페이지.PNG">
        <div>
        <a href=""><span class="text1">게시글 관리</span></a>
        </div>
    </div>
    <div class="div2">

            <img src="../image/마이페이지.PNG">
        <div>
        <a href=""><span class="text1">댓글 관리</span></a>
        </div>
    </div>
    </div>
     <div>
    <div class="div3">

            <img src="../image/마이페이지.PNG">
        <div>
        <a href=""><span class="text1">공지사항 관리</span></a>
        </div>
    </div>
    <div class="div4">

            <img src="../image/마이페이지.PNG">
        <div>
        <a href=""><span class="text1">사용자 관리</span></a>
        </div>
    </div>
     </div>
    </section>
</body>
</html>