<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/idfind.js"></script>
<link href="../css/member/idfind.css" rel="stylesheet">
<link href="../css/header.css" rel="stylesheet">
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav> 
 <section class="id_find">
    <img src="../image/로고.PNG">
    <h3>회원가입 시 입력한 이름과 이메일을 입력해주세요</h3>
    <form name="idfindForm" th:action="@{/member/idfind}" th:object="${member}" method="post" onsubmit="return idfindCheck()">
     <th:block layout:fragment="content">
      <ul class="infind-ul">
             <li>
                <label>*이름</label>
             </li>
             <li>
                 <input type="text" name="memName" class="input1" id="name" onblur="textCheck_name(this)" autocomplete="off" >
                 <div id="namemsg"></div>
             </li>
             <li>
                <label>*이메일</label>
             </li>
             <li>
                <input type="text" name="email1" class="email" id="email1" onblur="textCheck_email(this)" autocomplete="off"> 
                <input type="text" name="email2" class="email" id="email2" onblur="textCheck_email(this)" autocomplete="off">
                <select class="email2" id="email3" onchange="emailCheck()">
                   <option value="self">직접입력</option>
                   <option value="naver.com">네이버</option>
                   <option value="gmail.com">구글</option>
                   <option value="daum.net">다음</option>
                </select>
                <input type="hidden" name="memEmail" id="email" value = "">
                <div id="emailmsg"></div>
             </li>
             <li>
                <button type="submit" class="btn_ok" onclick="">확 인</button> <!--  onclick="idfindCheck()" -->
             </li>
      </ul>
     
     
      </th:block>
      </form>
 </section>
</body>


 <th:block layout:fragment="script">
        <script th:inline="javascript">
            /*<![CDATA[*/

            function idFind() {

                
                
               
                        
                        /*
                        confirm(idx + "번 게시글을 삭제할까요?")) {
                    var uri = null;
                    var html = "";

                    html += '<form name="dataForm" action="'+uri+'" method="post">';
                        html += '<input type="hidden" name="idx" value="'+idx+'" />';
                    html += '</form>';
                    
                    
                    $("body").append(html);
                    document.dataForm.submit();
                
                }
                */
                
            }
            /*[- end of function -]*/

            /*]]>*/
        </script>
    </th:block>







</html>