<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer :: main-foot">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>    

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<link href="../css/member/login.css" rel="stylesheet">
<script src="../js/login.js"></script>




</head>
<body class="login-body">
<nav th:replace="/fragment/header :: main-header"></nav> 
<section class="login">
<img src="../image/미니게임즈4.PNG" class="logo">
   <div class="form-group">
      <form name="loginForm" th:action="@{/member/login}" th:object="${member}" method="post" onsubmit="return loginCheck()">
      <!--  
         <label for="secretYn" class="col-sm-2 control-label">로그인</label>
   -->
           <div class="col-sm-10" style="margin-top: 10px;">
               <input type="text" id="loginId" name="memId" class="input1" placeholder="아이디" autocomplete="off" onblur="textCheck_id(this)"/>
              <div id="idmsg"></div>
           </div>
          <!--  
           <label for="secretYn" class="col-sm-2 control-label">비밀번호</label>
           -->
           <div class="col-sm-10" style="margin-top: 10px;">
               <input type="password" id="loginPass" class="input1" name="memPass" placeholder="비밀번호" onblur="textCheck_pass(this)"
                autocomplete="off" />
              <div id="passmsg"></div>
           </div>
           <div class="col-sm-10" style="margin-top: 10px;">
               <button type="submit" class="btn_join">로그인</button>
           </div>
           <div class="s">
              <span><a href="./idfind" class="s1">아이디 찾기</a></span>
              <span><a href="./passfind" class="s1">비밀번호 찾기</a></span>
              <span><a href="./join" class="s1">회원가입</a></span>
           </div>
           <hr class="login-hr">
      </form>
    </div>
    <div>
  <ul>
    <li onclick="kakaoLogin();">
      <a href="javascript:void(0)">
      <!--
          <img
          src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
          width="222"
          alt="카카오 로그인 버튼"
          class="kakao"
        />
   -->
        <button type="button" class="btn_kakaologin">카카오 로그인</button>
      </a>
       </li>
       <li onclick="kakaoLogout();">
         <a href="javascript:void(0)">
         <!--  
             <img
               src="//k.kakaocdn.net/14/dn/btroDszwNrM/I6efHub1SN5KCJqLm1Ovx1/o.jpg"
               width="222"
               alt="카카오 로그아웃 버튼"
               class="kakao"
             />
          -->
             <button type="button" class="btn_kakaologout">카카오 로그아웃</button>
         </a>
       </li>   
    </ul>
</div>
</section>
<!-- 카카오 스크립트 -->
<script>
Kakao.init('6949494c77d9cbaa21c5000b475c708a'); //발급받은 키 중 javascript키를 사용해준다.
console.log(Kakao.isInitialized()); // sdk초기화여부판단
//카카오로그인
function kakaoLogin() {
    Kakao.Auth.login({
      success: function (authObj) { //: 로그인이 성공할 경우 사용자 토큰을 받을 콜백 함수
        Kakao.API.request({
          url: '/v2/user/me',
          success: function (response) {
//              alert(JSON.stringify(response)); 
//              alert(JSON.stringify(authObj));
//              console.log(response.id);
//              console.log(response.kakao_account.email);
//              console.log(response.kakao_account.gender);
//              console.log(authObj.access_token); //<---- 콘솔 로그에 토큰값 출력
//              console.log(response.properties['nickname']);
//               console.log('login response: '+response)
              
              let memId = response.id;
              let memNick = response.properties.nickname;
              let memEmail = response.kakao_account.email;
              let memGender = response.kakao_account.gender;
              let url ="/member/kakaologin?memId="+memId+"&memNick="+memNick;
              if(memEmail!=undefined){
                 url+="&memEmail="+memEmail;
              }
              if(memGender!=null){
                  url+="&memGender="+memGender;
              }
              window.location.replace(url);
          },
          fail: function (error) {
            console.log(error)
          },
        })
      },
      fail: function (error) {
        console.log(error)
      },
    })
  }
//카카오로그아웃  
function kakaoLogout() {
    if (Kakao.Auth.getAccessToken()) {
      Kakao.API.request({
        url: '/v1/user/unlink',
        success: function (response) {
            console.log('logout response: '+response)
        },
        fail: function (error) {
          console.log(error)
        },
      })
      Kakao.Auth.setAccessToken(undefined)
    }
  }  
</script>
   <nav th:replace="/fragment/footer :: main-footer"></nav> 
</body>
</html>