<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="../css/member/newpass.css" rel="stylesheet">
</head>
<body id="newpass-body">
<nav th:replace="/fragment/header :: main-header"></nav> 
<section class="newpass">
    <img src="../image/로고.PNG">
    <h3>새로운 비밀번호를 입력해주세요</h3>
    <form name="newpassForm" th:action="@{/member/newpass}" th:object="${member}" method="post" onsubmit="return newpassCheck()">
     <th:block layout:fragment="content">
      <ul>
             <li>
                <label>*신규 비밀번호</label>
             </li>
             <li>
                 <input type="password" name="memPass" class="input1" id="pass" placeholder="8~16자의 영문,숫자,특수문자 조합" onblur="textCheck_pass(this)"
                autocomplete="off">
                <div id="passmsg"></div>
             </li>
             <li>
                <label>*신규 비밀번호 재확인</label>
             </li>
             <li>
                <input type="password" name="cpass" class="input1" id="cpass" onblur="cpassCheck()" autocomplete="off">
                <div id="cpassmsg"></div>
             </li>
               
             <li>
                <input type = "hidden" name = "memId" th:value = "${member.memId}">
             </li>
             
             <li>
                <button type="submit" class="btn_ok">등 록</button> <!--  onclick="idfindCheck()" -->
                <button type="reset" class="btn_reset" onclick="">취 소</button> <!--  onclick="idfindCheck()" -->
             </li>
      </ul>
     
     
      </th:block>
      </form>
 </section>
</body>
<script src="../js/newpass.js"></script>
</html>