<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<th:block  th:replace="/fragment/header :: main-head">
</th:block>
<th:block  th:replace="/fragment/footer :: main-foot">
</th:block>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="../js/passfind.js"></script>
<script src="https://code.jquery.com/jquery-latest.min.js"></script>
<link href="../css/member/passfind.css" rel="stylesheet">
</head>
<body>
<nav th:replace="/fragment/header :: main-header"></nav> 
 <section class="pass_find">
    <img src="../image/미니게임즈4.PNG" class="logo">
    <h3>회원가입 시 입력한 아이디와 이메일을 입력해주세요</h3>
    <form name="passfindForm" th:action="@{/member/passfind}" th:object="${member}" method="post" onsubmit="return passfindCheck()">
     <th:block layout:fragment="content">
      <ul>
             <li>
                <label>*아이디</label>
             </li>
             <li>
                 <input type="text" name="memId" class="input1" id="id" onblur="textCheck_id(this)" onfocus ="idchecksave(this)"
                autocomplete="off">
                 <div id="idmsg"></div>
             </li>
             <li>
                <label>*이메일</label>
             </li>
             <li>
                <input type="text" class="email" id="email1" onchange="textCheck_email(this)" autocomplete="off"> 
                <input type="text" class="email" id="email2" onchange="textCheck_email(this)" autocomplete="off">
                <select class="email2" id="email3" onchange="emailCheck()">
                   <option value="self">직접입력</option>
                   <option value="naver.com">네이버</option>
                   <option value="gmail.com">구글</option>
                   <option value="daum.net">다음</option>
                </select>
                 <input type="hidden" name="memEmail" id="email" value = "">
                 <button type="button" class="btn_check" onclick="sendEmailCode()">인증번호 받기</button>
             
                <input type="text" name="code" class="code" id="code" placeholder="인증번호를 입력해주세요" onblur="emailCodeCheck()" autocomplete="off">
                <div id="emailmsg"></div>
             
             <li>
                <button type="submit" class="btn_ok">확 인</button>
             </li>
             <li>
                <input type = "hidden" id = "emailcodecheck" value = "N">
             </li>
      </ul>
      </th:block>
      </form>
 </section>
  <nav th:replace="/fragment/footer :: main-footer"></nav> 
</body>
<script>
    // 이메일 인증코드 전송
    function sendEmailCode() {
        let email = $("#email1").val() + "@" + $("#email2").val();
        $.ajax({
            url : '/member/sendEmail',
            type : 'post',
            data:{memEmail:email},
            success : function(data) {
            	alert("인증번호가 발송되었습니다");
            }, error : function() {
                    console.log("실패");
                }
        });
    };
    
 // 입력된 이메일 인증코드 유효성검사
    function emailCodeCheck() {
        let code = $("#code").val();
        
        $.ajax({
            url : '/member/verifyCode',
            type : 'post',
            data:{code : code},
            success : function(data) {
                console.log("1 = 일치 / 0 = 불일치 : "+ data);                          
                
                if (data == 1) {
                        // 1 : 인증코드 일치 시
                        $("#emailmsg").text("");
                        $("#emailmsg").css("color","red");
                        $("#emailcodecheck").val("Y");
                        console.log(data);
                } else {
                        
                    if($("#code").val() == ""){
                        $("#emailmsg").text("인증코드를 입력해주세요");
                        $("#emailmsg").css("color","red");
                        $("#emailcodecheck").val("N");
                        console.log(data);
                    }else {
                        $("#emailmsg").text("인증코드가 일치하지 않습니다");
                        $("#emailmsg").css("color","red");
                        $("#emailcheck").val("N");
                        console.log(data);
                    }
                        
                }
                
            }, error : function() {
                    console.log("실패");
                }
        });
    }
</script>
</html>