<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<head>
		<meta charset="UTF-8">
		<title>The page is a write page</title>
	</head>
	<body>
		<h2>재밌조 테스트 페이지!</h2>
		<h2 th:text = "${member}"></h2>
		<h2 th:text = "${member.memId}"></h2>
		
		<a href ="./ddong">
        <button>똥피하기</button>
        </a>
        <a href ="./dino">
        <button>공룡점프</button>
        </a>
        <a href="./logout">로그아웃</a>
	</body>
</html>